<head>
<h1> EAT-DA-BURGER</h1>
<h3>IT'S, LIKE,<br> 
A TOTALLY TUBULAR <br> 
BURGER PARTY</h3><hr>
</head>

<div class="row">

<div class="column" id="menu">
<h2 id="menu">Burgers on the menu</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="column left" id="add">
<h2>Add a Burger to the Menu</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burg"></label> <br>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit" name="devoured" id="devo" value="0">Add Burger to the menu</button>
</form>
</div>

<div class="column" id="ate">
<h2>Wow, you were hungry!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>


</div>
