<li>
	{{burger_name}}
	<button class="change-devoured" id="button" data-id="{{id}}" data-newdevoured="{{devoured}}"><i class="fas fa-hamburger">
		{{#if devoured}} Devoure It!
		{{else}} Add It Back!{{/if}}
	</i></button>
	
</li> 