<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"><i class="fas fa-hamburger">
		{{#if devoured}} DEVOURE IT!
		{{else}} ADD IT BACK!{{/if}}
	</i></button>
	
</li> 